body {
  background-color: #E8F1F5;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  line-height: 1.8;
}

h1, h2, h3{
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  text-align: center;
}

h1{
  color: #DD5555;
  font-size: 26px;
}

h2{
  font-size: 24px;
  font-weight: 200;
}

h3{
  font-size: 20px;
  font-weight: 200;
  margin-left: 8px;
}


p {
  color: #799999;
  line-height: 1.4;
  font-size: 16px;
  text-align: justify;
  margin-left: 8px;
}

p.text-left {
  text-align: right;
}

a {
  color: #3C9099;
  text-decoration: none;
}

a:hover {
  color: #FFA5A5;
  text-decoration: underline;
}

div.container {
  width: 750px;
  margin: 30px auto;
}

div.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

img.resize {
  width:250px;
  height: auto;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 2px #E8F1F5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

.resize:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 25px;
  padding-left: 25px;
  width: 100px;
  transform: scale(0.80);
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

.list-inline >li:hover {
  transform: scale(1);
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.img-circle {
    border-radius:50%;
}

#img-profil {
    width:180px;
    height:180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 0px #656565;
}

#btn-more{
  background-color: #DD5555;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  height: 25px;
  width:100px;
  margin: auto;
  font-size: 18px;

}
#btn-more:hover{
  background-color: #C61414;
  color: white;
}

